@import url('https://fonts.cdnfonts.com/css/roboto');

:root{
    --font: 'Roboto', sans-serif;
    --fontLight: 'Roboto Light', sans-serif;
    --fontMedium: 'Roboto Medium', sans-serif;
    --fontBold: 'Roboto Black', sans-serif;

    --grisMain: #E0E0E0;
    --grisFooter: #DADADA;

}


body{
    font-family:var(--font)!important;
}

main{
    min-height: 60rem; 
    background-color:var(--grisMain) ;
}

footer{
    background-color: var(--grisFooter);

}
