.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .product {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 90%;
  }
  
  .product-image {
    flex-basis: 50%;
    margin-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-details {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-details h2 {
    font-size: 32px;
    font-family: Arial, sans-serif;
    margin: 0 0 10px;
  }
  
  .product-details p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 0 10px;
    line-height: 1.5;
  }
  
  .add-to-cart {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .add-to-cart:hover {
    background-color: #0062cc;
  }
  
  .product-thumbnails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-thumbnails img {
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-thumbnails img:last-child {
    margin-right: 0;
  }
  
  .product-thumbnails img:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .product-thumbnails img.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #007bff;
  }
  
  